In [5]:
import pandas as pd
import numpy as np
import csv

In [6]:
df = pd.read_csv('predict.csv')
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,년도 및 분기,회사명,지원 직종,지원 유형,학력,과,학점,토익 점수,토스 레벨,오픽 레벨,인턴 경험,자격증 개수,수상내역,자원봉사,해외 경험
0,0,0,0,2016년 하반기,(사)대한산업안전협회,컨설턴트,신입,지방4년,기계설계,3.83,875.0,NaN,IH,NaN,4.0,NaN,NaN,NaN
1,1,1,1,2023년 상반기,(사)전국경제인연합회,경영·비즈니스기획,신입,서울4년,영어영문학,3.92,965.0,NaN,IH,NaN,1.0,NaN,1.0,1.0
2,2,2,2,2015년 상반기,(사)한국지방재정공제회,경영·비즈니스기획,신입,서울4년,언론홍보학과,3.30,NaN,Level6,NaN,NaN,2.0,NaN,NaN,NaN
3,3,3,3,2021년 하반기,(재)경기문화재단,경영·비즈니스기획,신입,서울4년,역사콘텐츠학과,3.92,810.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
4,4,4,4,2020년 하반기,(재)경남창조경제혁신센터,경영·비즈니스기획,신입,대학원,국제의료경영학과,2.71,715.0,NaN,IM1,NaN,2.0,3.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,5947,5947,5947,2018년 하반기,휴온스,제품영업,신입,서울4년,아랍지역학과,3.35,880.0,Level6,NaN,1.0,NaN,3.0,NaN,2.0
5948,5948,5948,5948,2022년 상반기,휴젤㈜,제품영업,신입,지방4년,연극과,3.13,NaN,NaN,IH,1.0,2.0,NaN,1.0,NaN
5949,5949,5949,5949,2016년 하반기,흥국생명보험,MD,신입,서울4년,응용통계,3.32,935.0,Level6,NaN,2.0,NaN,NaN,NaN,NaN
5950,5950,5950,5950,2018년 하반기,희성폴리머㈜,제품영업,신입,대졸4년,고분자공학과,3.64,740.0,Level6,NaN,1.0,2.0,1.0,NaN,1.0
5951,5951,5951,5951,2018년 상반기,힐티코리아,인바운드상담원,신입,서울4년,법,3.59,895.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN

In [7]:
직종_대분류 = {}

기획_전략 = ['경영·비즈니스기획', '웹기획', '마케팅기획', 'PL·PM·PO', '컨설턴트']
법무_사무_총무 = ['경영지원', '사무담당자', '총무', '사무보조', '법무담당자', '비서', '변호사', '법무사', '변리사', '노무사']
인사_HR = ['인사담당자', 'HRD·HRM', '노무관리자', '잡매니저', '헤드헌터', '직업상담']
회계_세무 = ['회계담당자', '경리', '세무담당자', '재무담당자', '감사', 'IR·공시', '회계사', '세무사', '관세사']
마케팅_광고_MD = ['AE(광고기획자)', '브랜드마케터', '퍼포머스마케터', 'CRM마케터', '온라인마케터', '콘텐츠마케터', '홍보', '설문·리서치', 'MD', '카피라이터', '크리에이티브디렉터', '채널관리자', '그로스해커']
개발_데이터 = ['백엔드개발자', '프론트엔드개발자', '웹개발자', '앱개발자', '시스템엔지니어', '네트워크엔지니어', 'DBA', '데이터엔지니어', '데이터사이언티스트', '보안엔지니어', '소프트웨어개발자', '게임개발자', '하드웨어개발자', '머신러닝엔지니어', '블록체인개발자', '클라우드엔지니어', '웹퍼블리셔', 'IT컨설팅', 'QA']
디자인 = ['그래픽디자이너', '3D디자이너', '제품디자이너', '산업디자이너', '광고디자이너', '시각디자이너', '영상디자이너', '웹디자이너', 'UI·UX디자이너', '패션디자이너', '편집디자이너', '실내디자이너', '공간디자이너', '캐릭터디자이너', '환경디자이너' , '아트디렉터', '일러스트레이터']
물류_무역 = ['물류관리자', '구매관리자', '자재관리자', '유통관리자', '무역사무']
운전_운송_배송 = ['납품·배송기사', '배달기사', '수행·운전기사', '화물·중장비기사', '버스기사', '택시기사', '조종·기관사']
영업 = ['제품영업', '서비스영업', '해외영업', '광고영업', '금융영업', '법인영업', 'IT·기술영업', '영업관리', '영업지원']
고객상담_TM = ['인바운드상담원', '아웃바운드상담원', '고객센터관리자']
금융_보험 = ['금융사무', '보험설계사', '손해사정사', '심사', '은행원·텔러', '계리사', '펀드매니저', '에널리스']
식_음료 = ['요리사', '조리사', '제과제빵사', '바리스타', '셰프·주방장', '카페·레스토랑매니저', '홀서버', '주방보조', '소믈리에·바텐더', '영양사', '식품연구원', '푸드스타일리스트']
고객서비스_리테일 = ['설치·수리기사', '정비기사', '호텔종사자', '여행에이전트', '매장관리자', '뷰티·미용사', '애견미용·훈련', '안내데스크·리셉셔니스트', '경호·경비', '운영보조·매니저', '이벤트·웨딩플래너', '주차·주유원', '스타일리스트', '장례지도사', '가사도우미', '승무원', '플로리스트']
엔지니어링_설계 = ['전기·전자엔지니어', '기계엔지니어', '설계엔지니어', '설비엔지니어', '반도체엔지니어', '화학엔지니어', '공정엔지니어', '하드웨어엔지니어', '통신엔지니어', 'RF엔지니어', '필드엔지니어', 'R&D·연구원']
제조_생산 = ['생산직종사자', '생산·공정관리자', '품질관리자', '포장·가공담당자', '공장관리자', '용접사']
교육 = ['유치원·보육교사', '학교·특수학교교사', '대학교수·강사', '학원강사', '외국어강사', '기술·전문강사', '학습지·방문교사', '학원상담·운영', '교직원·조교', '교재개발·교수설계']
건축_시설 = ['건축가', '건축기사', '시공기사', '전기기사', '토목기사', '시설관리자', '현장관리자', '안전관리자', '공무', '소방설비', '현장보조', '감리원', '환경기사', '도시·조경설계', '비파괴검사원', '공인중개사', '감정평가사', '분양매니저']
의료_바이오 = ['의사', '한의사', '간호사', '간호조무사', '약사·한약사', '의료기사', '수의사', '수의테크니션', '병원코디네이터', '원무행정', '기타의료종사자', '의료·약무보조', '바이오·제약연구원', '임상연구원']
미디어_문화_스포츠 = ['PD·감독', '포토그래퍼', '영상편집자', '사운드엔지니어', '스태프', '출판·편집', '배급·제작자', '콘텐츠에디터', '크리에이터', '기자', '작가', '아나운서', '리포터·성우', 'MC·쇼호스트', '모델', '연예인·매니저', '인플루언서', '통번역사', '큐레이터', '음반기회', '스포츠강사']
공공_복지 = ['사회복지사', '요양보호사', '환경미화원', '보건관리자', '사서', '자원봉사자', '방역·방재기사']

지원직종_대분류 = ['기획·전략', '법무·사무·총무', '인사·HR', '회계·세무', '마케팅·광고·MD', '개발·데이터', '디자인', '물류·무역',
            '운전·운송·배송', '영업', '고객상담·TM', '금융·보험', '식·음료', '고객서비스·리테일', '엔지니어링·설계', '제조·생산',
            '교육', '건축·시설', '의료·바이오', '미디어·문화·스포츠', '공공·복지']

대분류_리스트 = [기획_전략, 법무_사무_총무, 인사_HR, 회계_세무, 마케팅_광고_MD, 개발_데이터, 디자인, 물류_무역, 운전_운송_배송, 영업, 고객상담_TM, 금융_보험, 식_음료, 고객서비스_리테일, 엔지니어링_설계, 제조_생산, 교육, 건축_시설, 의료_바이오, 미디어_문화_스포츠, 공공_복지]

for 대분류, 분류_리스트 in zip(지원직종_대분류, 대분류_리스트):
    for 분류 in 분류_리스트:
        직종_대분류[분류] = 대분류

df['직종 대분류'] = df['지원 직종'].map(직종_대분류)

In [8]:
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,년도 및 분기,회사명,지원 직종,지원 유형,학력,과,학점,토익 점수,토스 레벨,오픽 레벨,인턴 경험,자격증 개수,수상내역,자원봉사,해외 경험,직종 대분류
0,0,0,0,2016년 하반기,(사)대한산업안전협회,컨설턴트,신입,지방4년,기계설계,3.83,875.0,NaN,IH,NaN,4.0,NaN,NaN,NaN,기획·전략
1,1,1,1,2023년 상반기,(사)전국경제인연합회,경영·비즈니스기획,신입,서울4년,영어영문학,3.92,965.0,NaN,IH,NaN,1.0,NaN,1.0,1.0,기획·전략
2,2,2,2,2015년 상반기,(사)한국지방재정공제회,경영·비즈니스기획,신입,서울4년,언론홍보학과,3.30,NaN,Level6,NaN,NaN,2.0,NaN,NaN,NaN,기획·전략
3,3,3,3,2021년 하반기,(재)경기문화재단,경영·비즈니스기획,신입,서울4년,역사콘텐츠학과,3.92,810.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,기획·전략
4,4,4,4,2020년 하반기,(재)경남창조경제혁신센터,경영·비즈니스기획,신입,대학원,국제의료경영학과,2.71,715.0,NaN,IM1,NaN,2.0,3.0,2.0,1.0,기획·전략
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,5947,5947,5947,2018년 하반기,휴온스,제품영업,신입,서울4년,아랍지역학과,3.35,880.0,Level6,NaN,1.0,NaN,3.0,NaN,2.0,영업
5948,5948,5948,5948,2022년 상반기,휴젤㈜,제품영업,신입,지방4년,연극과,3.13,NaN,NaN,IH,1.0,2.0,NaN,1.0,NaN,영업
5949,5949,5949,5949,2016년 하반기,흥국생명보험,MD,신입,서울4년,응용통계,3.32,935.0,Level6,NaN,2.0,NaN,NaN,NaN,NaN,마케팅·광고·MD
5950,5950,5950,5950,2018년 하반기,희성폴리머㈜,제품영업,신입,대졸4년,고분자공학과,3.64,740.0,Level6,NaN,1.0,2.0,1.0,NaN,1.0,영업
5951,5951,5951,5951,2018년 상반기,힐티코리아,인바운드상담원,신입,서울4년,법,3.59,895.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,고객상담·TM

In [47]:
ts_level = {'NM': 1, 'NH': 2, 'IL': 3, 'IM1': 4, 'IM2': 5, 'IM3': 6, 'IH': 7, 'AL': 8, 'AM': 9, 'AH': 10,
            'Level1': 1, 'Level2': 1, 'Level3': 2, 'Level4': 3, 'Level5': 4, 'Level6': 6, 'Level7': 8, 'Level8': 10}
op_level = {'NL': 1, 'NM': 2, 'NH': 3, 'IL': 4, 'IM1': 5, 'M1': 5, 'IM2': 6, 'M2': 6, 'IM3': 7, 'M3': 7, 'IH': 8, 'AL': 9}
ts_level_int = {1: "NH", 2: "NH", 3: "NH", 4: "NH", 5: "NH", 6: "IM1", 7: "IM2", 8: "IM3", 9: "IH", 10: "AL"}
op_level_int = {1: "NH", 2: "NH", 3: "NH", 4: "NH", 5: "NH", 6: "IL", 7: "IM1", 8: "IM2", 9: "IM3", 10: "IH", 11: "AL"}
df["토스 레벨"] = df["토스 레벨"].map(ts_level)
df["오픽 레벨"] = df["오픽 레벨"].map(op_level)
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,년도 및 분기,회사명,지원 직종,지원 유형,학력,과,학점,토익 점수,토스 레벨,오픽 레벨,인턴 경험,자격증 개수,수상내역,자원봉사,해외 경험,직종 대분류
0,0,0,0,2016년 하반기,(사)대한산업안전협회,컨설턴트,신입,지방4년,기계설계,3.83,875.0,NaN,NaN,0.0,4.0,0.0,0.0,0.0,기획·전략
1,1,1,1,2023년 상반기,(사)전국경제인연합회,경영·비즈니스기획,신입,서울4년,영어영문학,3.92,965.0,NaN,NaN,0.0,1.0,0.0,1.0,1.0,기획·전략
2,2,2,2,2015년 상반기,(사)한국지방재정공제회,경영·비즈니스기획,신입,서울4년,언론홍보학과,3.30,0.0,NaN,NaN,0.0,2.0,0.0,0.0,0.0,기획·전략
3,3,3,3,2021년 하반기,(재)경기문화재단,경영·비즈니스기획,신입,서울4년,역사콘텐츠학과,3.92,810.0,NaN,NaN,0.0,2.0,0.0,0.0,0.0,기획·전략
4,4,4,4,2020년 하반기,(재)경남창조경제혁신센터,경영·비즈니스기획,신입,대학원,국제의료경영학과,2.71,715.0,NaN,NaN,0.0,2.0,3.0,2.0,1.0,기획·전략
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,5947,5947,5947,2018년 하반기,휴온스,제품영업,신입,서울4년,아랍지역학과,3.35,880.0,NaN,NaN,1.0,0.0,3.0,0.0,2.0,영업
5948,5948,5948,5948,2022년 상반기,휴젤㈜,제품영업,신입,지방4년,연극과,3.13,0.0,NaN,NaN,1.0,2.0,0.0,1.0,0.0,영업
5949,5949,5949,5949,2016년 하반기,흥국생명보험,MD,신입,서울4년,응용통계,3.32,935.0,NaN,NaN,2.0,0.0,0.0,0.0,0.0,마케팅·광고·MD
5950,5950,5950,5950,2018년 하반기,희성폴리머㈜,제품영업,신입,대졸4년,고분자공학과,3.64,740.0,NaN,NaN,1.0,2.0,1.0,0.0,1.0,영업
5951,5951,5951,5951,2018년 상반기,힐티코리아,인바운드상담원,신입,서울4년,법,3.59,895.0,NaN,NaN,1.0,1.0,0.0,0.0,0.0,고객상담·TM

In [10]:
columns_list = df.columns.tolist()
for _ in columns_list[6:]:
    df[_] = df[_].fillna(0)

In [11]:
df # Nan값 처리 0으로 채우기

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,년도 및 분기,회사명,지원 직종,지원 유형,학력,과,학점,토익 점수,토스 레벨,오픽 레벨,인턴 경험,자격증 개수,수상내역,자원봉사,해외 경험,직종 대분류
0,0,0,0,2016년 하반기,(사)대한산업안전협회,컨설턴트,신입,지방4년,기계설계,3.83,875.0,0.0,8.0,0.0,4.0,0.0,0.0,0.0,기획·전략
1,1,1,1,2023년 상반기,(사)전국경제인연합회,경영·비즈니스기획,신입,서울4년,영어영문학,3.92,965.0,0.0,8.0,0.0,1.0,0.0,1.0,1.0,기획·전략
2,2,2,2,2015년 상반기,(사)한국지방재정공제회,경영·비즈니스기획,신입,서울4년,언론홍보학과,3.30,0.0,6.0,0.0,0.0,2.0,0.0,0.0,0.0,기획·전략
3,3,3,3,2021년 하반기,(재)경기문화재단,경영·비즈니스기획,신입,서울4년,역사콘텐츠학과,3.92,810.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,기획·전략
4,4,4,4,2020년 하반기,(재)경남창조경제혁신센터,경영·비즈니스기획,신입,대학원,국제의료경영학과,2.71,715.0,0.0,5.0,0.0,2.0,3.0,2.0,1.0,기획·전략
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,5947,5947,5947,2018년 하반기,휴온스,제품영업,신입,서울4년,아랍지역학과,3.35,880.0,6.0,0.0,1.0,0.0,3.0,0.0,2.0,영업
5948,5948,5948,5948,2022년 상반기,휴젤㈜,제품영업,신입,지방4년,연극과,3.13,0.0,0.0,8.0,1.0,2.0,0.0,1.0,0.0,영업
5949,5949,5949,5949,2016년 하반기,흥국생명보험,MD,신입,서울4년,응용통계,3.32,935.0,6.0,0.0,2.0,0.0,0.0,0.0,0.0,마케팅·광고·MD
5950,5950,5950,5950,2018년 하반기,희성폴리머㈜,제품영업,신입,대졸4년,고분자공학과,3.64,740.0,6.0,0.0,1.0,2.0,1.0,0.0,1.0,영업
5951,5951,5951,5951,2018년 상반기,힐티코리아,인바운드상담원,신입,서울4년,법,3.59,895.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,고객상담·TM

In [28]:
조건_dict = {}
for col in ['년도 및 분기', '회사명', '지원 직종', '직종 대분류', '학력', '과']:
    조건_dict.update({value: col for value in df[col]})

In [29]:
스펙_dict = {}
for col2 in ['학점', '토익 점수', '토스 레벨', '오픽 레벨', '인턴 경험', '자격증 개수', '수상내역', '자원봉사', '해외 경험']:
    스펙_dict.update({value: col2 for value in df[col2]})

# 내 조건과 스펙 평균찾기

In [14]:
spec_list = ['학점', '토익 점수', '토스 레벨', '오픽 레벨', '인턴 경험', '자격증 개수', '수상내역', '자원봉사', '해외 경험']
def magic_lamp(list, list2, 지표="mean"):
    if list == [] and list2 == []:
        for i in range(len(spec_list)):
            agg_dict = {col: 지표 for col in spec_list}
        return df.agg(agg_dict)
    elif list != [] and list2 == []:
        for i in range(len(spec_list)):
            agg_dict = {col: 지표 for col in spec_list}
        for i in range(len(list)):
            list[i] = "(df["+'"'+조건_dict[list[i]]+'"'+"]=="+'"'+list[i]+'")'
        조건 = "&".join(list)
        return df.groupby(eval(조건)).agg(agg_dict)
    elif list == [] and list2 != []:
        agg_dict = {col: 지표 for col in list2}
        return df.agg(agg_dict)
    elif list != [] and list2 != []:
        for i in range(len(list)):
            list[i] = "(df["+'"'+조건_dict[list[i]]+'"'+"]=="+'"'+list[i]+'")'
        조건 = "&".join(list)
        agg_dict = {col: 지표 for col in list2}
        return df.groupby(eval(조건)).agg(agg_dict)

In [15]:
# con = condition 조건
con1 = input()
con2 = input()
con3 = input()
con4 = input()
con5 = input()

# spec = 스펙
spec1 = input()
spec2 = input()
spec3 = input()
spec4 = input()
spec5 = input()
spec6 = input()
spec7 = input()
spec8 = input()
spec9 = input()

지표 = input()

조건_list = []
스펙조건_list = []

#조건_list 만들기
for i in range(1, 6): 
    con = globals()[f"con{i}"]
    if con != '':
        조건_list.append(con)
    else:
        pass

#스펙조건_list 만들기
for i in range(1, 10):
    spec = globals()[f"spec{i}"]
    if spec != '':
        스펙조건_list.append(spec)
    else:
        pass

if 지표 == '':
    지표 = "mean"

magic_lamp(조건_list, 스펙조건_list, 지표)

학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

In [16]:
magic_lamp([],[])

학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

In [17]:
df2 = pd.read_csv('data.csv')

In [18]:
df2

,Unnamed: 0,년도 및 분기,회사명,지원 직종,지원 유형,학력,과,학점,토익 점수,토스 레벨,오픽 레벨,인턴 경험,자격증 개수,수상내역,자원봉사,해외 경험
0,0,2016년 하반기,(사)대한산업안전협회,컨설턴트,신입,지방4년,기계설계,3.83,875.0,NaN,IH,NaN,4.0,NaN,NaN,NaN
1,1,2023년 상반기,(사)전국경제인연합회,경영·비즈니스기획,신입,서울4년,영어영문학,3.92,965.0,NaN,IH,NaN,1.0,NaN,1.0,1.0
2,2,2015년 상반기,(사)한국지방재정공제회,경영·비즈니스기획,신입,서울4년,언론홍보학과,3.30,NaN,Level6,NaN,NaN,2.0,NaN,NaN,NaN
3,3,2021년 하반기,(재)경기문화재단,경영·비즈니스기획,신입,서울4년,역사콘텐츠학과,3.92,810.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
4,4,2020년 하반기,(재)경남창조경제혁신센터,경영·비즈니스기획,신입,대학원,국제의료경영학과,2.71,715.0,NaN,IM1,NaN,2.0,3.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,5947,2018년 하반기,휴온스,제품영업,신입,서울4년,아랍지역학과,3.35,880.0,Level6,NaN,1.0,NaN,3.0,NaN,2.0
5948,5948,2022년 상반기,휴젤㈜,제품영업,신입,지방4년,연극과,3.13,NaN,NaN,IH,1.0,2.0,NaN,1.0,NaN
5949,5949,2016년 하반기,흥국생명보험,MD,신입,서울4년,응용통계,3.32,935.0,Level6,NaN,2.0,NaN,NaN,NaN,NaN
5950,5950,2018년 하반기,희성폴리머㈜,제품영업,신입,대졸4년,고분자공학과,3.64,740.0,Level6,NaN,1.0,2.0,1.0,NaN,1.0
5951,5951,2018년 상반기,힐티코리아,인바운드상담원,신입,서울4년,법,3.59,895.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN

In [19]:
df2["토스 레벨"] = df2["토스 레벨"].map(ts_level)
df2["오픽 레벨"] = df2["오픽 레벨"].map(op_level)

In [20]:
df2['직종 대분류'] = df2['지원 직종'].map(직종_대분류)

In [21]:
df2

,Unnamed: 0,년도 및 분기,회사명,지원 직종,지원 유형,학력,과,학점,토익 점수,토스 레벨,오픽 레벨,인턴 경험,자격증 개수,수상내역,자원봉사,해외 경험,직종 대분류
0,0,2016년 하반기,(사)대한산업안전협회,컨설턴트,신입,지방4년,기계설계,3.83,875.0,NaN,8.0,NaN,4.0,NaN,NaN,NaN,기획·전략
1,1,2023년 상반기,(사)전국경제인연합회,경영·비즈니스기획,신입,서울4년,영어영문학,3.92,965.0,NaN,8.0,NaN,1.0,NaN,1.0,1.0,기획·전략
2,2,2015년 상반기,(사)한국지방재정공제회,경영·비즈니스기획,신입,서울4년,언론홍보학과,3.30,NaN,6.0,NaN,NaN,2.0,NaN,NaN,NaN,기획·전략
3,3,2021년 하반기,(재)경기문화재단,경영·비즈니스기획,신입,서울4년,역사콘텐츠학과,3.92,810.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,기획·전략
4,4,2020년 하반기,(재)경남창조경제혁신센터,경영·비즈니스기획,신입,대학원,국제의료경영학과,2.71,715.0,NaN,5.0,NaN,2.0,3.0,2.0,1.0,기획·전략
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,5947,2018년 하반기,휴온스,제품영업,신입,서울4년,아랍지역학과,3.35,880.0,6.0,NaN,1.0,NaN,3.0,NaN,2.0,영업
5948,5948,2022년 상반기,휴젤㈜,제품영업,신입,지방4년,연극과,3.13,NaN,NaN,8.0,1.0,2.0,NaN,1.0,NaN,영업
5949,5949,2016년 하반기,흥국생명보험,MD,신입,서울4년,응용통계,3.32,935.0,6.0,NaN,2.0,NaN,NaN,NaN,NaN,마케팅·광고·MD
5950,5950,2018년 하반기,희성폴리머㈜,제품영업,신입,대졸4년,고분자공학과,3.64,740.0,6.0,NaN,1.0,2.0,1.0,NaN,1.0,영업
5951,5951,2018년 상반기,힐티코리아,인바운드상담원,신입,서울4년,법,3.59,895.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,고객상담·TM

In [22]:
def magic_lamp2(list, list2, 지표="mean"):
    if list == [] and list2 == []:
        for i in range(len(spec_list)):
            agg_dict = {col: 지표 for col in spec_list}
        return df2.agg(agg_dict)
    elif list != [] and list2 == []:
        for i in range(len(spec_list)):
            agg_dict = {col: 지표 for col in spec_list}
        for i in range(len(list)):
            list[i] = "(df2["+'"'+조건_dict[list[i]]+'"'+"]=="+'"'+list[i]+'")'
        조건 = "&".join(list)
        return df2.groupby(eval(조건)).agg(agg_dict)
    elif list == [] and list2 != []:
        agg_dict = {col: 지표 for col in list2}
        return df2.agg(agg_dict)
    elif list != [] and list2 != []:
        for i in range(len(list)):
            list[i] = "(df2["+'"'+조건_dict[list[i]]+'"'+"]=="+'"'+list[i]+'")'
        조건 = "&".join(list)
        agg_dict = {col: 지표 for col in list2}
        return df2.groupby(eval(조건)).agg(agg_dict)
    else:
        pass

In [23]:
magic_lamp2([],[])

학점          3.678082
토익 점수     848.026316
토스 레벨       6.090278
오픽 레벨       7.269529
인턴 경험       1.279650
자격증 개수      2.497436
수상내역        1.984828
자원봉사        1.432432
해외 경험       1.296605
dtype: float64

### 입력부분

In [24]:
magic_lamp2(조건_list, 스펙조건_list)

학점          3.678082
토익 점수     848.026316
토스 레벨       6.090278
오픽 레벨       7.269529
인턴 경험       1.279650
자격증 개수      2.497436
수상내역        1.984828
자원봉사        1.432432
해외 경험       1.296605
dtype: float64

# 내 스펙이 가진 나의 위치는?

In [25]:
df3 = pd.read_csv("data.csv")

In [26]:
df3['토스 레벨'] = df3['토스 레벨'].map(ts_level)
df3['오픽 레벨'] = df3['오픽 레벨'].map(op_level)

In [27]:
학점 = input("당신의 학점을 입력하세요: ")
토익_점수 = input("당신의 토익점수을 입력하세요: ")
토스_레벨 = input("당신의 토스레벨을 입력하세요: ")
오픽_레벨 = input("당신의 오픽레벨을 입력하세요: ")
인턴_경험 = input("당신의 인턴경험을 입력하세요: ")
자격증_개수 = input("당신의 자격증개수을 입력하세요: ")
수상내역 = input("당신의 수상내역을 입력하세요: ")
자원봉사 = input("당신의 자원봉사횟수를 입력하세요: ")
해외_경험 = input("당신의 해외경험횟수를 입력하세요: ")

토스_레벨 = ts_level[토스_레벨]
오픽_레벨 = op_level[오픽_레벨]

place = [학점, 토익_점수, 토스_레벨, 오픽_레벨, 인턴_경험, 자격증_개수, 수상내역, 자원봉사, 해외_경험]

print(place)

KeyError: ''

In [ ]:
# place 리스트의 요소를 숫자로 변환 (필요시)
place = [float(x) for x in place]

In [ ]:
result = []
for i in range(len(place)):
    rank = 0
    df_sorted = df3.dropna(subset=[spec_list[i]]).sort_values(by=spec_list[i], ascending=False)
    df_sorted = [float(y) for y in df_sorted[spec_list[i]]]
    total_count = len(df_sorted)
    for j in range(len(df_sorted)):
        if place[i] >= df_sorted[j]:
            rank += 1
        else: 
            rank += 0
    percentage = 100 - (rank / total_count) * 100
    result.append(percentage)
print(result)

[16.889749911940825, 20.910384068278802, 17.664930555555557, 16.63685152057245, 3.282275711159727, 0.0, 19.195250659630602, 29.142185663924792, 20.4996796925048]

In [ ]:
for i in range(len(columns_list)):
    print(df[columns_list[i]].value_counts())

Unnamed: 0.2
0       1
3965    1
3974    1
3973    1
3972    1
       ..
1981    1
1980    1
1979    1
1978    1
5951    1
Name: count, Length: 5952, dtype: int64
Unnamed: 0.1
0       1
3965    1
3974    1
3973    1
3972    1
       ..
1981    1
1980    1
1979    1
1978    1
5951    1
Name: count, Length: 5952, dtype: int64
Unnamed: 0
0       1
3965    1
3974    1
3973    1
3972    1
       ..
1981    1
1980    1
1979    1
1978    1
5951    1
Name: count, Length: 5952, dtype: int64
년도 및 분기
2015년 하반기    775
2016년 하반기    723
2016년 상반기    677
2017년 하반기    439
2017년 상반기    373
2015년 상반기    343
2018년 하반기    332
2018년 상반기    309
2019년 하반기    262
2019년 상반기    245
2022년 상반기    227
2021년 하반기    217
2022년 하반기    208
2021년 상반기    177
2023년 상반기    175
2020년 상반기    174
2020년 하반기    145
2014년 하반기     55
2023년 하반기     44
2014년 상반기     21
2013년 하반기     18
2013년 상반기      9
2024년 상반기      4
Name: count, dtype: int64
회사명
삼성전자㈜        193
GS리테일        127
SK하이닉스(주)     74
엘지전자㈜         73
현대자동차㈜        66
            ...
성균관대학교         1
성남시의료원         1
성화산업㈜          1
세원그룹           1
힐티코리아          1
Name: count, Length: 1442, dtype: int64
지원 직종
품질관리자        504
사무담당자        488
영업지원         417
경영·비즈니스기획    393
제품영업         373
            ...
스포츠강사          1
웹디자이너          1
바리스타           1
공무             1
HRD·HRM        1
Name: count, Length: 114, dtype: int64
지원 유형
신입    5102
인턴     850
Name: count, dtype: int64
학력
서울4년     2479
지방4년     1303
수도권4년    1068
대학원       447
고졸        252
대졸4년      216
초대졸       108
해외대학       79
Name: count, dtype: int64
과
경영학과               316
0                  252
경제학과               175
기계공학과              161
컴퓨터공학과             153
                  ...
건축학과 건축학전공(5년제)      1
바이오기능성식품학과           1
디지털정보공학과             1
컴퓨터학과                1
아랍지역학과               1
Name: count, Length: 702, dtype: int64
학점
3.50    489
3.80    371
3.70    366
0.00    274
3.90    263
       ...
2.69      1
4.41      1
2.98      1
4.35      1
2.36      1
Name: count, Length: 167, dtype: int64
토익 점수
0.0      1734
895.0     190
845.0     159
800.0     154
870.0     137
         ...
585.0       1
220.0       1
665.0       1
550.0       1
605.0       1
Name: count, Length: 92, dtype: int64
토스 레벨
0.0     3648
6.0     1539
8.0      385
4.0      306
7.0       33
10.0      22
3.0        9
1.0        7
2.0        2
5.0        1
Name: count, dtype: int64
오픽 레벨
0.0    4275
8.0     817
6.0     338
9.0     279
5.0     129
4.0      84
7.0      16
1.0       7
2.0       5
3.0       2
Name: count, dtype: int64
인턴 경험
0.0    3667
1.0    1732
2.0     478
3.0      64
4.0      11
Name: count, dtype: int64
자격증 개수
0.0     2052
1.0     1403
2.0      946
3.0      777
4.0      351
5.0      270
6.0       60
14.0      46
8.0       24
7.0       22
10.0       1
Name: count, dtype: int64
수상내역
0.0     4436
1.0      855
2.0      370
3.0      191
11.0      47
4.0       18
5.0       10
7.0       10
10.0       9
6.0        5
12.0       1
Name: count, dtype: int64
자원봉사
0.0    4250
1.0    1206
2.0     306
3.0     149
4.0      35
5.0       5
8.0       1
Name: count, dtype: int64
해외 경험
0.0     4391
1.0     1241
2.0      249
4.0       37
3.0       30
14.0       3
5.0        1
Name: count, dtype: int64
직종 대분류
영업            1211
엔지니어링·설계       876
개발·데이터         748
제조·생산          635
법무·사무·총무       558
기획·전략          437
건축·시설          265
마케팅·광고·MD      264
회계·세무          250
물류·무역          250
인사·HR          140
고객서비스·리테일       73
교육              66
의료·바이오          50
고객상담·TM         31
미디어·문화·스포츠      25
디자인             22
금융·보험           19
0               18
식·음료             8
공공·복지            4
운전·운송·배송         2
Name: count, dtype: int64

In [ ]:
for _ in df.columns[3:9]:
    print(df[_].value_counts())

'''
년도 및 분기: 2022년 상반기
회사명: 삼성전자㈜
학력: 지방4년
과: 경영 or 산업공학과
지원 직종: 품질관리자
'''

년도 및 분기
2015년 하반기    775
2016년 하반기    723
2016년 상반기    677
2017년 하반기    439
2017년 상반기    373
2015년 상반기    343
2018년 하반기    332
2018년 상반기    309
2019년 하반기    262
2019년 상반기    245
2022년 상반기    227
2021년 하반기    217
2022년 하반기    208
2021년 상반기    177
2023년 상반기    175
2020년 상반기    174
2020년 하반기    145
2014년 하반기     55
2023년 하반기     44
2014년 상반기     21
2013년 하반기     18
2013년 상반기      9
2024년 상반기      4
Name: count, dtype: int64
회사명
삼성전자㈜        193
GS리테일        127
SK하이닉스(주)     74
엘지전자㈜         73
현대자동차㈜        66
            ...
성균관대학교         1
성남시의료원         1
성화산업㈜          1
세원그룹           1
힐티코리아          1
Name: count, Length: 1442, dtype: int64
지원 직종
품질관리자        504
사무담당자        488
영업지원         417
경영·비즈니스기획    393
제품영업         373
            ...
스포츠강사          1
웹디자이너          1
바리스타           1
공무             1
HRD·HRM        1
Name: count, Length: 114, dtype: int64
지원 유형
신입    5102
인턴     850
Name: count, dtype: int64
학력
서울4년     2479
지방4년     1303
수도권4년    1068
대학원       447
고졸        252
대졸4년      216
초대졸       108
해외대학       79
Name: count, dtype: int64
과
경영학과               316
0                  252
경제학과               175
기계공학과              161
컴퓨터공학과             153
                  ...
건축학과 건축학전공(5년제)      1
바이오기능성식품학과           1
디지털정보공학과             1
컴퓨터학과                1
아랍지역학과               1
Name: count, Length: 702, dtype: int64

'\n년도 및 분기: 2022년 상반기\n회사명: 삼성전자㈜\n학력: 지방4년\n과: 경영 or 산업공학과\n지원 직종: 품질관리자\n'

In [ ]:
# 조건 사전 정의
condition_dict = {
    '년도 및 분기': df['년도 및 분기'],
    '회사명': df['회사명'],
    '학력': df['학력'],
    '과': df['과'],
    '지원 직종': df['지원 직종']
}

In [ ]:
import itertools

# 조건의 모든 조합 생성
all_combinations = []
for r in range(1, len(condition_dict) + 1):
    combinations_object = itertools.combinations(condition_dict.keys(), r)
    combinations_list = list(combinations_object)
    all_combinations.extend(combinations_list)

In [ ]:
len(all_combinations)

31

In [ ]:
results = []

for combination in all_combinations:
    # 각 조합에 대해 데이터를 필터링
    filtered_data = df
    for condition in combination:
        filtered_data = filtered_data[filtered_data[condition].notna()]
    
    # 스펙 평균 계산
    spec_means = filtered_data[spec_list].mean()
    
    # 결과 저장
    results.append({
        'combination': combination,
        'spec_means': spec_means
    })

# 결과 출력 예시
for result in results:
    print(f"Combination: {result['combination']}")
    print(f"Spec Means:\n{result['spec_means']}\n")

Combination: ('년도 및 분기',)
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명',)
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('학력',)
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('과',)
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('지원 직종',)
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '학력')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '과')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명', '학력')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명', '과')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('학력', '과')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('학력', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명', '학력')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명', '과')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '학력', '과')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '학력', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명', '학력', '과')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명', '학력', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명', '과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('학력', '과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명', '학력', '과')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명', '학력', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명', '과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '학력', '과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('회사명', '학력', '과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

Combination: ('년도 및 분기', '회사명', '학력', '과', '지원 직종')
Spec Means:
학점          3.508762
토익 점수     600.970262
토스 레벨       2.357527
오픽 레벨       2.048219
인턴 경험       0.491263
자격증 개수      1.636425
수상내역        0.505544
자원봉사        0.409610
해외 경험       0.340054
dtype: float64

In [ ]:
# 결과 저장을 위한 리스트
results = []

for combination in all_combinations:
    # 각 조합에 대해 데이터를 필터링
    filtered_data = df
    for condition in combination:
        filtered_data = filtered_data[filtered_data[condition].notna()]
    
    # 각 조합에 대한 value_counts() 계산
    if not filtered_data.empty:
        value_counts = filtered_data[list(combination)].value_counts()
        
        # value_counts가 5 이상인 경우만 필터링하여 저장
        value_counts_filtered = value_counts[value_counts >= 2]
        
        if not value_counts_filtered.empty:
            # 결과 저장
            results.append({
                'combination': combination,
                'value_counts': value_counts_filtered
                
            })

# 결과 출력 예시
for result in results:
    print(f"Combination: {result['combination']}")
    print(f"Value Counts:\n{result['value_counts']}\n")

Combination: ('년도 및 분기',)
Value Counts:
년도 및 분기
2015년 하반기    775
2016년 하반기    723
2016년 상반기    677
2017년 하반기    439
2017년 상반기    373
2015년 상반기    343
2018년 하반기    332
2018년 상반기    309
2019년 하반기    262
2019년 상반기    245
2022년 상반기    227
2021년 하반기    217
2022년 하반기    208
2021년 상반기    177
2023년 상반기    175
2020년 상반기    174
2020년 하반기    145
2014년 하반기     55
2023년 하반기     44
2014년 상반기     21
2013년 하반기     18
2013년 상반기      9
2024년 상반기      4
Name: count, dtype: int64

Combination: ('회사명',)
Value Counts:
회사명
삼성전자㈜         193
GS리테일         127
SK하이닉스(주)      74
엘지전자㈜          73
CJ제일제당(주)      66
             ...
한국석유관리원         2
코오롱제약(주)        2
고려아연(주)         2
(주)대구은행         2
코리안리재보험(주)      2
Name: count, Length: 773, dtype: int64

Combination: ('학력',)
Value Counts:
학력
서울4년     2479
지방4년     1303
수도권4년    1068
대학원       447
고졸        252
대졸4년      216
초대졸       108
해외대학       79
Name: count, dtype: int64

Combination: ('과',)
Value Counts:
과
경영학과                  316
0                     252
경제학과                  175
기계공학과                 161
컴퓨터공학과                153
                     ...
산업디자인                   2
생명과학과/화공생명공학과           2
산업디자인공학부 시각정보디자인전공      2
국제무역학과                  2
환경공학부                   2
Name: count, Length: 440, dtype: int64

Combination: ('지원 직종',)
Value Counts:
지원 직종
품질관리자        504
사무담당자        488
영업지원         417
경영·비즈니스기획    393
제품영업         373
            ...
배급·제작자         2
사운드엔지니어        2
납품·배송기사        2
PL·PM·PO       2
원무행정           2
Name: count, Length: 89, dtype: int64

Combination: ('년도 및 분기', '회사명')
Value Counts:
년도 및 분기    회사명
2015년 하반기  삼성전자㈜        32
2016년 상반기  GS리테일        27
           삼성전자㈜        25
2016년 하반기  GS리테일        21
           삼성전자㈜        21
                        ..
2015년 하반기  현대파워텍(주)      2
2019년 상반기  롯데칠성음료(주)     2
2015년 하반기  현대카드          2
           현대해상화재보험㈜     2
2017년 상반기  롯데지알에스        2
Name: count, Length: 958, dtype: int64

Combination: ('년도 및 분기', '학력')
Value Counts:
년도 및 분기    학력
2015년 하반기  서울4년    336
2016년 하반기  서울4년    321
2016년 상반기  서울4년    255
2015년 하반기  지방4년    224
2017년 하반기  서울4년    187
                  ...
2019년 상반기  해외대학      2
2020년 상반기  초대졸       2
2022년 하반기  초대졸       2
2021년 상반기  해외대학      2
2024년 상반기  지방4년      2
Name: count, Length: 145, dtype: int64

Combination: ('년도 및 분기', '과')
Value Counts:
년도 및 분기    과
2016년 상반기  0                 75
2015년 하반기  컴퓨터공학             56
2018년 상반기  경영학과              46
2015년 하반기  컴퓨터공학과            38
           컴퓨터공학부            35
                             ..
           전기과                2
2016년 상반기  전자전파공학과            2
2015년 하반기  폴란드어과              2
2013년 하반기  말레이인도네시아어통번역학과     2
2015년 하반기  금융경제학과             2
Name: count, Length: 946, dtype: int64

Combination: ('년도 및 분기', '지원 직종')
Value Counts:
년도 및 분기    지원 직종
2015년 하반기  앱개발자        96
           품질관리자       80
           영업지원        78
2016년 상반기  사무담당자       66
           영업지원        63
                       ..
2022년 하반기  구매관리자        2
2017년 하반기  매장관리자        2
           기술·전문강사      2
2015년 하반기  기자           2
2016년 하반기  학습지·방문교사     2
Name: count, Length: 577, dtype: int64

Combination: ('회사명', '학력')
Value Counts:
회사명           학력
삼성전자㈜         서울4년     69
GS리테일         서울4년     54
엘지전자㈜         서울4년     44
삼성전자㈜         수도권4년    42
              지방4년     39
                       ..
한세실업㈜         지방4년      2
SK이노베이션(주)    수도권4년     2
한세실업㈜         대학원       2
(주)신세계아이앤씨    서울4년      2
삼성생명서비스손해사정㈜  수도권4년     2
Name: count, Length: 964, dtype: int64

Combination: ('회사명', '과')
Value Counts:
회사명        과
삼성전자㈜      0         17
한국지역난방공사   0         14
삼성전자㈜      전자공학과     13
           기계공학과     12
한전KPS(주)   0         11
                     ..
동원로엑스(주)   국제통상학과     2
미원상사㈜      화학공학과      2
현대카드       경영학과       2
삼성전자㈜      기계로봇공학     2
현대글로비스(주)  국제물류학과     2
Name: count, Length: 564, dtype: int64

Combination: ('회사명', '지원 직종')
Value Counts:
회사명          지원 직종
GS리테일        영업지원         66
삼성전자㈜        반도체엔지니어      60
SK하이닉스(주)    반도체엔지니어      30
             품질관리자        25
CJ대한통운(주)    자재관리자        25
                          ..
             물류관리자         2
신한카드(주)      경영·비즈니스기획     2
두산모빌리티이노베이션  경영·비즈니스기획     2
한국철도공사       통신엔지니어        2
CJ CGV(주)    매장관리자         2
Name: count, Length: 873, dtype: int64

Combination: ('학력', '과')
Value Counts:
학력     과
고졸     0            252
서울4년   경영학과         179
       경영학부          84
수도권4년  경제학과          73
서울4년   경제학과          72
                   ...
대학원    정책미디어연구과       2
수도권4년  건축학과           2
서울4년   신문방송학부         2
수도권4년  경영대학 경영학과      2
대졸4년   대외한어-경제무역      2
Name: count, Length: 589, dtype: int64

Combination: ('학력', '지원 직종')
Value Counts:
학력     지원 직종
서울4년   경영·비즈니스기획    216
       영업지원         206
       사무담당자        191
       제품영업         179
지방4년   품질관리자        171
                   ...
대졸4년   IT·기술영업        2
수도권4년  비서             2
고졸     재무담당자          2
수도권4년  설문·리서치         2
고졸     기술·전문강사        2
Name: count, Length: 309, dtype: int64

Combination: ('과', '지원 직종')
Value Counts:
과                지원 직종
0                전기·전자엔지니어    67
경영학과             사무담당자        61
기계공학과            기계엔지니어       51
행정학과             사무담당자        48
컴퓨터공학            앱개발자         47
                              ..
독어독문학과           금융영업          2
무역학과,경영학과(복수전공)  MD            2
기계공학과            전기·전자엔지니어     2
경영계열             인사담당자         2
도시계획부동산          분양매니저         2
Name: count, Length: 870, dtype: int64

Combination: ('년도 및 분기', '회사명', '학력')
Value Counts:
년도 및 분기    회사명        학력
2015년 하반기  삼성전자㈜      서울4년    13
                      지방4년    12
2016년 상반기  GS리테일      서울4년    10
                      지방4년    10
2015년 하반기  엘지전자㈜      서울4년    10
                              ..
           ㈜엘지헬로비전    지방4년     2
           ㈜BGF리테일    서울4년     2
2017년 하반기  NH농협은행     지방4년     2
2015년 하반기  CJ제일제당(주)  지방4년     2
           ㈜IBK캐피탈    서울4년     2
Name: count, Length: 704, dtype: int64

Combination: ('년도 및 분기', '회사명', '과')
Value Counts:
년도 및 분기    회사명         과
2016년 상반기  한국지역난방공사    0             8
           삼성화재해상보험    0             6
           삼성전자㈜       0             6
2015년 하반기  SK C&C      컴퓨터공학과        5
2016년 상반기  국립공원공단      0             4
                                    ..
2021년 하반기  한국가스공사      0             2
2018년 상반기  SK하이닉스(주)   전자IT미디어공학과    2
                       기계공학과         2
2015년 하반기  두산에너빌리티(주)  기계공학과         2
                       기계공학부         2
Name: count, Length: 192, dtype: int64

Combination: ('년도 및 분기', '회사명', '지원 직종')
Value Counts:
년도 및 분기    회사명        지원 직종
2016년 상반기  GS리테일      영업지원       15
2018년 상반기  삼성전자㈜      반도체엔지니어    14
2015년 하반기  GS리테일      영업지원       13
2016년 하반기  GS리테일      영업지원       11
2015년 하반기  (주)한진      자재관리자       8
                                 ..
2015년 상반기  유비쿼스       앱개발자        2
           현대글로비스(주)  제품영업        2
2015년 하반기  CJ E&M㈜    포토그래퍼       2
2015년 상반기  현대글로비스(주)  자재관리자       2
2015년 하반기  (주)성우하이텍   기계엔지니어      2
Name: count, Length: 557, dtype: int64

Combination: ('년도 및 분기', '학력', '과')
Value Counts:
년도 및 분기    학력     과
2016년 상반기  고졸     0          75
2020년 상반기  지방4년   행정학과       29
2020년 하반기  서울4년   경영학부       26
2023년 상반기  서울4년   경영학과       25
2016년 하반기  고졸     0          24
                             ..
2018년 상반기  지방4년   응용화학공학과     2
2023년 상반기  해외대학   경제학과        2
2014년 하반기  서울4년   신소재공학과      2
2022년 상반기  수도권4년  무역학부        2
2019년 상반기  서울4년   환경공학과       2
Name: count, Length: 1018, dtype: int64

Combination: ('년도 및 분기', '학력', '지원 직종')
Value Counts:
년도 및 분기    학력    지원 직종
2015년 하반기  서울4년  앱개발자       38
2016년 하반기  서울4년  영업지원       38
2015년 하반기  서울4년  영업지원       37
2016년 상반기  서울4년  영업지원       36
2015년 하반기  지방4년  품질관리자      35
                            ..
2017년 상반기  서울4년  시설관리자       2
2015년 하반기  지방4년  시스템엔지니어     2
                 사무보조        2
2023년 하반기  서울4년  MD          2
2017년 상반기  서울4년  분양매니저       2
Name: count, Length: 972, dtype: int64

Combination: ('년도 및 분기', '과', '지원 직종')
Value Counts:
년도 및 분기    과              지원 직종
2015년 하반기  컴퓨터공학          앱개발자         31
2020년 상반기  행정학과           사무담당자        20
2017년 하반기  0              전기·전자엔지니어    19
2019년 하반기  전기전자           전기기사         19
2018년 상반기  경영학과           사무담당자        17
                                       ..
2016년 상반기  국제관계학과         제품영업          2
2015년 하반기  기계공학과          현장관리자         2
2016년 상반기  국제통상학과         영업지원          2
2023년 상반기  인도네시아ㆍ말레이시아어과  물류관리자         2
2015년 하반기  기계공학부          금융영업          2
Name: count, Length: 1029, dtype: int64

Combination: ('회사명', '학력', '과')
Value Counts:
회사명                    학력     과
삼성전자㈜                  고졸     0           17
한국지역난방공사               고졸     0           14
한전KPS(주)               고졸     0           11
포스코홀딩스                 고졸     0           10
한국전력공사                 고졸     0            9
                                          ..
현대자동차㈜                 서울4년   심리학과         2
SK하이닉스(주)              수도권4년  전자통신공학과      2
정보통신산업진흥원부설소프트웨어정책연구소  대학원    국제의료경영학과     2
한국전자통신연구원              지방4년   정보통신공학       2
한국조폐공사                 고졸     0            2
Name: count, Length: 436, dtype: int64

Combination: ('회사명', '학력', '지원 직종')
Value Counts:
회사명          학력     지원 직종
GS리테일        서울4년   영업지원       28
삼성전자㈜        서울4년   반도체엔지니어    20
GS리테일        지방4년   영업지원       18
삼성전자㈜        수도권4년  반도체엔지니어    15
GS리테일        수도권4년  영업지원       15
                               ..
한국토지주택공사     지방4년   건축기사        2
(주)DB하이텍     서울4년   품질관리자       2
삼성SDI(주)     서울4년   해외영업        2
한국토지주택공사     수도권4년  사무보조        2
(주)유니드글로벌상사  대졸4년   해외영업        2
Name: count, Length: 736, dtype: int64

Combination: ('회사명', '과', '지원 직종')
Value Counts:
회사명         과        지원 직종
한전KPS(주)    0        전기·전자엔지니어    8
한국전력공사      0        전기·전자엔지니어    6
현대자동차㈜      기계공학과    기계엔지니어       6
한국가스공사      0        전기·전자엔지니어    5
롯데IT테크(주)   컴퓨터학부    앱개발자         5
                                 ..
현대엔지니어링(주)  기계설계공학과  기계엔지니어       2
현대자동차㈜      기계공학     기계엔지니어       2
현대트랜시스      기계설계공학과  품질관리자        2
(주)선진       컴퓨터공학부   앱개발자         2
현대모비스㈜      경영학부     재무담당자        2
Name: count, Length: 387, dtype: int64

Combination: ('학력', '과', '지원 직종')
Value Counts:
학력    과          지원 직종
고졸    0          전기·전자엔지니어    67
지방4년  전자공학       전기·전자엔지니어    31
고졸    0          사무담당자        30
서울4년  경영학과       인사담당자        27
지방4년  행정학과       사무담당자        25
                              ..
      컨벤션호텔경영학과  사무담당자         2
대학원   중국어교육전공    영업지원          2
지방4년  컴퓨터정보학과    웹개발자          2
고졸    0          기술·전문강사       2
서울4년  경영학        MD            2
Name: count, Length: 957, dtype: int64

Combination: ('년도 및 분기', '회사명', '학력', '과')
Value Counts:
년도 및 분기    회사명         학력     과
2016년 상반기  한국지역난방공사    고졸     0          8
           삼성전자㈜       고졸     0          6
           삼성화재해상보험    고졸     0          6
           국립공원공단      고졸     0          4
2019년 하반기  포스코홀딩스      고졸     0          4
                                        ..
2016년 하반기  피에스케이홀딩스㈜   수도권4년  전자공학과      2
2021년 상반기  (주)문화방송     서울4년   시각디자인학과    2
2016년 하반기  현대모비스㈜      지방4년   기계설계공학과    2
2016년 상반기  수산업협동조합중앙회  지방4년   도시계획부동산    2
2015년 하반기  ㈜인터파크트리플    서울4년   경제학과       2
Name: count, Length: 132, dtype: int64

Combination: ('년도 및 분기', '회사명', '학력', '지원 직종')
Value Counts:
년도 및 분기    회사명        학력     지원 직종
2016년 상반기  GS리테일      서울4년   영업지원         8
2018년 상반기  삼성전자㈜      수도권4년  반도체엔지니어      6
2015년 하반기  GS리테일      서울4년   영업지원         6
2018년 상반기  삼성전자㈜      서울4년   반도체엔지니어      5
2016년 하반기  현대글로비스(주)  서울4년   자재관리자        5
                                         ..
2023년 상반기  GS리테일      지방4년   영업관리         2
2015년 상반기  ㈜BGF리테일    서울4년   제품영업         2
2019년 하반기  ㈜컴투스       서울4년   인사담당자        2
2015년 상반기  GS리테일      수도권4년  제품영업         2
2016년 상반기  한화시스템(주)   서울4년   전기·전자엔지니어    2
Name: count, Length: 333, dtype: int64

Combination: ('년도 및 분기', '회사명', '과', '지원 직종')
Value Counts:
년도 및 분기    회사명          과       지원 직종
2015년 상반기  현대자동차㈜       기계공학과   기계엔지니어       4
2017년 하반기  한국동서발전(주)    전자공학    전기·전자엔지니어    4
2015년 하반기  씨제이올리브네트웍스㈜  컴퓨터공학부  앱개발자         3
2017년 하반기  한국철도공사       0       전기·전자엔지니어    3
2016년 상반기  삼성화재해상보험     0       금융영업         3
                                            ..
           삼성전자㈜        0       전기·전자엔지니어    2
2015년 하반기  넷마블(주)       컴퓨터공학   앱개발자         2
2016년 하반기  근로복지공단       0       금융영업         2
2015년 하반기  ㈜엔에스쇼핑       경제학과    MD           2
2017년 상반기  한국폴리텍        경영학과    사무담당자        2
Name: count, Length: 112, dtype: int64

Combination: ('년도 및 분기', '학력', '과', '지원 직종')
Value Counts:
년도 및 분기    학력     과            지원 직종
2020년 상반기  지방4년   행정학과         사무담당자        20
2017년 하반기  고졸     0            전기·전자엔지니어    19
2019년 하반기  서울4년   전기전자         전기기사         19
2022년 하반기  수도권4년  경제학과         회계담당자        16
2018년 하반기  고졸     0            전기·전자엔지니어    15
                                            ..
2017년 상반기  서울4년   법            경영·비즈니스기획     2
                  사회과학부        영업지원          2
2015년 하반기  수도권4년  정보컴퓨터공학부     앱개발자          2
                  전기과          전기·전자엔지니어     2
                  세르비아크로아티아어과  경영·비즈니스기획     2
Name: count, Length: 1017, dtype: int64

Combination: ('회사명', '학력', '과', '지원 직종')
Value Counts:
회사명                    학력     과         지원 직종
한전KPS(주)               고졸     0         전기·전자엔지니어    8
한국전력공사                 고졸     0         전기·전자엔지니어    6
한국가스공사                 고졸     0         전기·전자엔지니어    5
한국전력공사                 지방4년   전자공학      전기·전자엔지니어    5
한국중부발전(주)              지방4년   전자공학      전기·전자엔지니어    5
                                                    ..
㈜BGF리테일                지방4년   사학과       영업지원         2
롯데슈퍼                   서울4년   법학        자재관리자        2
(주)LG화학                수도권4년  화학공학      품질관리자        2
삼성전자㈜                  대학원    전자공학      반도체엔지니어      2
정보통신산업진흥원부설소프트웨어정책연구소  대학원    국제의료경영학과  R&D·연구원      2
Name: count, Length: 305, dtype: int64

Combination: ('년도 및 분기', '회사명', '학력', '과', '지원 직종')
Value Counts:
년도 및 분기    회사명          학력    과          지원 직종
2016년 상반기  한국지역난방공사     고졸    0          사무담당자        3
           삼성전자㈜        고졸    0          품질관리자        3
           삼성화재해상보험     고졸    0          금융영업         3
2018년 하반기  한전KPS(주)     고졸    0          전기·전자엔지니어    3
2017년 하반기  한국동서발전(주)    지방4년  전자공학       전기·전자엔지니어    3
                                                     ..
2015년 상반기  초석건설산업(주)    해외대학  회계         경영·비즈니스기획    2
2019년 상반기  한세실업㈜        서울4년  경영학부       해외영업         2
2015년 하반기  에이치디한국조선해양㈜  지방4년  기계공학과      기계엔지니어       2
2023년 상반기  GS리테일        지방4년  사회 ㆍ복지학전공  영업관리         2
2016년 상반기  ㈜포스코인터내셔널    고졸    0          회계담당자        2
Name: count, Length: 84, dtype: int64

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
output_file = 'value_counts_results3.csv'

with open(output_file, 'w', encoding='cp949') as f:
    for result in results:
        f.write(f"Combination: {result['combination']}\n")
        result['value_counts'].to_csv(f, header=True)
        f.write("\n")

print(f"Results have been saved to {output_file}")

Results have been saved to value_counts_results3.csv

In [ ]:
# 결과 저장을 위한 리스트
results = []

for combination in all_combinations:
    # 각 조합에 대해 데이터를 필터링
    filtered_data = df.copy()
    for condition in combination:
        filtered_data = filtered_data[filtered_data[condition].notna()]
    
    # 각 조합에 대한 value_counts() 계산
    if not filtered_data.empty:
        value_counts = filtered_data[list(combination)].value_counts()
        
        # 상위 5개 값 추출
        top_5 = value_counts.head(5)
        
        # 상위 5개 조건을 리스트로 저장
        top_5_list = [list(index) if isinstance(index, tuple) else [index] for index in top_5.index]
        
        # 결과 저장
        results.append(top_5_list)

In [ ]:
results

[[['2015년 하반기'], ['2016년 하반기'], ['2016년 상반기'], ['2017년 하반기'], ['2017년 상반기']],
 [['삼성전자㈜'], ['GS리테일'], ['SK하이닉스(주)'], ['엘지전자㈜'], ['CJ제일제당(주)']],
 [['서울4년'], ['지방4년'], ['수도권4년'], ['대학원'], ['고졸']],
 [['경영학과'], [0], ['경제학과'], ['기계공학과'], ['컴퓨터공학과']],
 [['품질관리자'], ['사무담당자'], ['영업지원'], ['경영·비즈니스기획'], ['제품영업']],
 [['2015년 하반기', '삼성전자㈜'],
  ['2016년 상반기', 'GS리테일'],
  ['2016년 상반기', '삼성전자㈜'],
  ['2016년 하반기', 'GS리테일'],
  ['2016년 하반기', '삼성전자㈜']],
 [['2015년 하반기', '서울4년'],
  ['2016년 하반기', '서울4년'],
  ['2016년 상반기', '서울4년'],
  ['2015년 하반기', '지방4년'],
  ['2017년 하반기', '서울4년']],
 [['2016년 상반기', 0],
  ['2015년 하반기', '컴퓨터공학'],
  ['2018년 상반기', '경영학과'],
  ['2015년 하반기', '컴퓨터공학과'],
  ['2015년 하반기', '컴퓨터공학부']],
 [['2015년 하반기', '앱개발자'],
  ['2015년 하반기', '품질관리자'],
  ['2015년 하반기', '영업지원'],
  ['2016년 상반기', '사무담당자'],
  ['2016년 상반기', '영업지원']],
 [['삼성전자㈜', '서울4년'],
  ['GS리테일', '서울4년'],
  ['엘지전자㈜', '서울4년'],
  ['삼성전자㈜', '수도권4년'],
  ['삼성전자㈜', '지방4년']],
 [['삼성전자㈜', 0],
  ['한국지역난방공사', 0],
  ['삼성전자㈜', '전자공학과'],
  ['삼성전자㈜', '기계공학과'],
  ['한전KPS(주)', 0]],
 [['GS리테일', '영업지원'],
  ['삼성전자㈜', '반도체엔지니어'],
  ['SK하이닉스(주)', '반도체엔지니어'],
  ['SK하이닉스(주)', '품질관리자'],
  ['CJ대한통운(주)', '자재관리자']],
 [['고졸', 0],
  ['서울4년', '경영학과'],
  ['서울4년', '경영학부'],
  ['수도권4년', '경제학과'],
  ['서울4년', '경제학과']],
 [['서울4년', '경영·비즈니스기획'],
  ['서울4년', '영업지원'],
  ['서울4년', '사무담당자'],
  ['서울4년', '제품영업'],
  ['지방4년', '품질관리자']],
 [[0, '전기·전자엔지니어'],
  ['경영학과', '사무담당자'],
  ['기계공학과', '기계엔지니어'],
  ['행정학과', '사무담당자'],
  ['컴퓨터공학', '앱개발자']],
 [['2015년 하반기', '삼성전자㈜', '서울4년'],
  ['2015년 하반기', '삼성전자㈜', '지방4년'],
  ['2016년 상반기', 'GS리테일', '서울4년'],
  ['2016년 상반기', 'GS리테일', '지방4년'],
  ['2015년 하반기', '엘지전자㈜', '서울4년']],
 [['2016년 상반기', '한국지역난방공사', 0],
  ['2016년 상반기', '삼성화재해상보험', 0],
  ['2016년 상반기', '삼성전자㈜', 0],
  ['2015년 하반기', 'SK C&C', '컴퓨터공학과'],
  ['2016년 상반기', '국립공원공단', 0]],
 [['2016년 상반기', 'GS리테일', '영업지원'],
  ['2018년 상반기', '삼성전자㈜', '반도체엔지니어'],
  ['2015년 하반기', 'GS리테일', '영업지원'],
  ['2016년 하반기', 'GS리테일', '영업지원'],
  ['2015년 하반기', '(주)한진', '자재관리자']],
 [['2016년 상반기', '고졸', 0],
  ['2020년 상반기', '지방4년', '행정학과'],
  ['2020년 하반기', '서울4년', '경영학부'],
  ['2023년 상반기', '서울4년', '경영학과'],
  ['2016년 하반기', '고졸', 0]],
 [['2015년 하반기', '서울4년', '앱개발자'],
  ['2016년 하반기', '서울4년', '영업지원'],
  ['2015년 하반기', '서울4년', '영업지원'],
  ['2016년 상반기', '서울4년', '영업지원'],
  ['2015년 하반기', '지방4년', '품질관리자']],
 [['2015년 하반기', '컴퓨터공학', '앱개발자'],
  ['2020년 상반기', '행정학과', '사무담당자'],
  ['2017년 하반기', 0, '전기·전자엔지니어'],
  ['2019년 하반기', '전기전자', '전기기사'],
  ['2018년 상반기', '경영학과', '사무담당자']],
 [['삼성전자㈜', '고졸', 0],
  ['한국지역난방공사', '고졸', 0],
  ['한전KPS(주)', '고졸', 0],
  ['포스코홀딩스', '고졸', 0],
  ['한국전력공사', '고졸', 0]],
 [['GS리테일', '서울4년', '영업지원'],
  ['삼성전자㈜', '서울4년', '반도체엔지니어'],
  ['GS리테일', '지방4년', '영업지원'],
  ['삼성전자㈜', '수도권4년', '반도체엔지니어'],
  ['GS리테일', '수도권4년', '영업지원']],
 [['한전KPS(주)', 0, '전기·전자엔지니어'],
  ['한국전력공사', 0, '전기·전자엔지니어'],
  ['현대자동차㈜', '기계공학과', '기계엔지니어'],
  ['한국가스공사', 0, '전기·전자엔지니어'],
  ['롯데IT테크(주)', '컴퓨터학부', '앱개발자']],
 [['고졸', 0, '전기·전자엔지니어'],
  ['지방4년', '전자공학', '전기·전자엔지니어'],
  ['고졸', 0, '사무담당자'],
  ['서울4년', '경영학과', '인사담당자'],
  ['지방4년', '행정학과', '사무담당자']],
 [['2016년 상반기', '한국지역난방공사', '고졸', 0],
  ['2016년 상반기', '삼성전자㈜', '고졸', 0],
  ['2016년 상반기', '삼성화재해상보험', '고졸', 0],
  ['2016년 상반기', '국립공원공단', '고졸', 0],
  ['2019년 하반기', '포스코홀딩스', '고졸', 0]],
 [['2016년 상반기', 'GS리테일', '서울4년', '영업지원'],
  ['2018년 상반기', '삼성전자㈜', '수도권4년', '반도체엔지니어'],
  ['2015년 하반기', 'GS리테일', '서울4년', '영업지원'],
  ['2018년 상반기', '삼성전자㈜', '서울4년', '반도체엔지니어'],
  ['2016년 하반기', '현대글로비스(주)', '서울4년', '자재관리자']],
 [['2015년 상반기', '현대자동차㈜', '기계공학과', '기계엔지니어'],
  ['2017년 하반기', '한국동서발전(주)', '전자공학', '전기·전자엔지니어'],
  ['2015년 하반기', '씨제이올리브네트웍스㈜', '컴퓨터공학부', '앱개발자'],
  ['2017년 하반기', '한국철도공사', 0, '전기·전자엔지니어'],
  ['2016년 상반기', '삼성화재해상보험', 0, '금융영업']],
 [['2020년 상반기', '지방4년', '행정학과', '사무담당자'],
  ['2017년 하반기', '고졸', 0, '전기·전자엔지니어'],
  ['2019년 하반기', '서울4년', '전기전자', '전기기사'],
  ['2022년 하반기', '수도권4년', '경제학과', '회계담당자'],
  ['2018년 하반기', '고졸', 0, '전기·전자엔지니어']],
 [['한전KPS(주)', '고졸', 0, '전기·전자엔지니어'],
  ['한국전력공사', '고졸', 0, '전기·전자엔지니어'],
  ['한국가스공사', '고졸', 0, '전기·전자엔지니어'],
  ['한국전력공사', '지방4년', '전자공학', '전기·전자엔지니어'],
  ['한국중부발전(주)', '지방4년', '전자공학', '전기·전자엔지니어']],
 [['2016년 상반기', '한국지역난방공사', '고졸', 0, '사무담당자'],
  ['2016년 상반기', '삼성전자㈜', '고졸', 0, '품질관리자'],
  ['2016년 상반기', '삼성화재해상보험', '고졸', 0, '금융영업'],
  ['2018년 하반기', '한전KPS(주)', '고졸', 0, '전기·전자엔지니어'],
  ['2017년 하반기', '한국동서발전(주)', '지방4년', '전자공학', '전기·전자엔지니어']]]

In [30]:
final_list = [['2022년 하반기'],
['삼성전자㈜'],
['지방4년'],
['경영학과'],
['품질관리자'],
['2016년 상반기', 'GS리테일'],
['2017년 하반기', '서울4년'],
['2018년 상반기', '경영학과'],
['2015년 하반기', '앱개발자'],
['삼성전자㈜', '서울4년'],
['삼성전자㈜', '전자공학과'],
['CJ대한통운(주)', '자재관리자'],
['서울4년', '경영학과'],
['지방4년', '품질관리자'],
['컴퓨터공학', '앱개발자'],
['2015년 하반기', '삼성전자㈜', '지방4년'],
['2015년 하반기', 'SK C&C', '컴퓨터공학과'],
['2018년 상반기', '삼성전자㈜', '반도체엔지니어'],
['2023년 상반기', '서울4년', '경영학과'],
['2016년 하반기', '서울4년', '영업지원'],
['2020년 상반기', '행정학과', '사무담당자'],
['GS리테일','지방4년','경영학부'],
['GS리테일', '서울4년', '영업지원'],
['롯데IT테크(주)', '컴퓨터학부', '앱개발자'],
['지방4년', '전자공학', '전기·전자엔지니어'],
['2016년 하반기','삼성전자㈜','지방4년','기계설계공학과'],
['2018년 상반기', '삼성전자㈜', '수도권4년', '반도체엔지니어'],
['2017년 하반기', '한국동서발전(주)', '전자공학', '전기·전자엔지니어'],
['2022년 하반기', '수도권4년', '경제학과', '회계담당자'],
['한국전력공사', '지방4년', '전자공학', '전기·전자엔지니어'],
['2017년 하반기','한국동서발전(주)','지방4년','전자공학','전기·전자엔지니어']
]

In [53]:
    
def convert_levels(result_row):
    if '토스 레벨' in result_row and pd.notna(result_row['토스 레벨']):
        rounded_ts = int(round(result_row['토스 레벨']))
        result_row['토스 레벨'] = ts_level_int.get(rounded_ts, rounded_ts)
    
    if '오픽 레벨' in result_row and pd.notna(result_row['오픽 레벨']):
        rounded_op = int(round(result_row['오픽 레벨']))
        result_row['오픽 레벨'] = op_level_int.get(rounded_op, rounded_op)
    
    return result_row

In [57]:
def magic_lamp(conditions=[], specs=[], metric="mean"):
    if not conditions and not specs:
        agg_dict = {col: metric for col in spec_list}
        return df.agg(agg_dict).to_dict()
    else:
        if conditions:
            query_conditions = " & ".join([f"`{조건_dict[cond]}` == '{cond}'" for cond in conditions])
            condition_df = df.query(query_conditions)
        else:
            condition_df = df
        
        if specs:
            agg_dict = {col: metric for col in specs}
        else:
            agg_dict = {col: metric for col in spec_list}
        
        if condition_df.empty:
            return {}
        
        result = condition_df.agg(agg_dict).to_dict()
        result['value_count'] = condition_df.shape[0]

        return result
    
results = []

# 각 조건에 대해 magic_lamp 함수 호출 및 결과 저장
for condition in final_list:
    result = magic_lamp(condition, [])
    if result:  # result가 비어있지 않을 때만 추가
        result_row = {col: round(result.get(col, None), 2) for col in spec_list}
        result_row['condition'] = " & ".join(condition)
        result_row['value_count'] = result.get('value_count', 0)
        result_row = convert_levels(result_row)
        results.append(result_row)

# 결과를 데이터프레임으로 변환
results_df = pd.DataFrame(results, columns=['condition', 'value_count'] + spec_list)

# 결과를 CSV 파일로 저장
results_df.to_csv('magic_lamp_results.csv', index=False, encoding='cp949')

print("결과가 'magic_lamp_results.csv' 파일로 저장되었습니다.")

결과가 'magic_lamp_results.csv' 파일로 저장되었습니다.

In [56]:
def magic_lamp2(conditions=[], specs=[], metric="mean"):
    if not conditions and not specs:
        agg_dict = {col: metric for col in spec_list}
        return df2.agg(agg_dict).to_dict()
    else:
        if conditions:
            query_conditions = " & ".join([f"`{조건_dict[cond]}` == '{cond}'" for cond in conditions])
            condition_df = df2.query(query_conditions)
        else:
            condition_df = df2
        
        if specs:
            agg_dict = {col: metric for col in specs}
        else:
            agg_dict = {col: metric for col in spec_list}
        
        if condition_df.empty:
            return {}
        
        result =  condition_df.agg(agg_dict).to_dict()
        result['value_count'] = condition_df.shape[0]

        return result
    
results = []

# 각 조건에 대해 magic_lamp 함수 호출 및 결과 저장
for condition in final_list:
    result = magic_lamp2(condition, [])
    if result:  # result가 비어있지 않을 때만 추가
        result_row = {col: round(result.get(col, None), 2) for col in spec_list}
        result_row['condition'] = " & ".join(condition)
        result_row['value_count'] = result.get('value_count', 0)
        result_row = convert_levels(result_row)
        results.append(result_row)

# 결과를 데이터프레임으로 변환
results_df = pd.DataFrame(results, columns=['condition', 'value_count'] + spec_list)

# 결과를 CSV 파일로 저장
results_df.to_csv('magic_lamp_results2.csv', index=False, encoding='cp949')

print("결과가 'magic_lamp_results2.csv' 파일로 저장되었습니다.")

결과가 'magic_lamp_results2.csv' 파일로 저장되었습니다.

In [ ]:
magic_lamp2([],[])

{'학점': 3.678082071151814,
 '토익 점수': 848.0263157894736,
 '토스 레벨': 6.090277777777778,
 '오픽 레벨': 7.2695289206917115,
 '인턴 경험': 1.2796498905908096,
 '자격증 개수': 2.4974358974358974,
 '수상내역': 1.9848284960422165,
 '자원봉사': 1.4324324324324325,
 '해외 경험': 1.296604740550929}

'IM2'

8